#game
  h2.title Open Game

  #message.hidden ...

  #timer
    span.minutes 01
    |:
    span.seconds 00

  #question
    <span id="a">A</span>x<span id="b">B</span>=
    input#answer(type = "text")
    input#confirm-button.button(type = "submit", value="Confirm")

  #players
