#game
  #message.hidden ...

  #timer <span class="minutes">01</span>:<span class="seconds">00</span>

  #game-content
    .game-state.open.active
      h2 Open Game
      p.info Waiting for a challenger...

    .game-state.ready
      h2 Ready to Start
      p.info Both players must click start to begin
      br
      a.button.start Start

    .game-state.start
      h2 Go!
      p.info Answer The Most Questions Correctly Before Time Runs Out!<br>You will be penalized for answering incorrectly.

      #question
        <span id="a">A</span>x<span id="b">B</span>=
        input#answer(type = "text")
        input#confirm-button.button(type = "submit", value="Confirm")

    .game-state.finish
      h2 Game Over!

  #players
