#game
  h2.title Open Game

  #message.hidden ...

  #question
    <span id="a">A</span>x<span id="b">B</span>=
    input#answer(type = "text")
    input#confirm-button.button(type = "submit", value="Confirm")

  #players
    #alex
      p
        span.name Alex
        |: 
        span.points 0pts
      .answers
