#leaders
  h2 TOP PLAYERS
  ol

h2 LOBBY

p.
  Hone your skills in solo play.<br />Or challenge your friends in a competitive ladder match!

a.lobby.button(href="/#/solo") Solo Practice
a.lobby.button(href="/#/multi/join") Join Challenge
a.lobby.button(href="/#/multi/new") Create Challenge

#games
  h2 OPEN GAMES