#game
  -webkit-user-select none
  -moz-user-select none

  input
    padding 0 10px

  .game-state
    display none

    p.info
      width 500px
      padding 20px
      border-radius 5px
      border 1px solid #ccc

  .game-state.active
    display block

  a.button
    color black
    text-decoration none

  a.button:hover
    color white

  .button
    position relative
    display inline-block

  .button:hover
    cursor pointer
    color white

  .button:active
    top 1px

#message
  text-align center
  font-size 18px
  opacity 1
  border-radius 5px
  border 1px solid grey
  anim(opacity, 0.7s)

#timer
  padding 10px 20px
  font-size 50px
  vertical-gradient(#0da5f4, #0a7cb8)
  box-shadow(2px 2px 10px #333)
  border-radius 5px

#timer.finished
  vertical-gradient(#888, #555)

#message.hidden
  opacity 0

#response
  float right
  font-size 25px

  input, #message
    width 130px
    padding 10px
    margin 20px 10px

  #advance-button
    top -6px
    font-size 20px
    width 150px

  input
    display block
    border 1px solid #333
    border-radius 3px
 
  input[type='text']
    border none
    background-color #ccc

#advance-button:active
  top -5px

#answer
  width 130px
  font-size 35px

#stimulus, #explanation
  width 400px
  margin 10px
  padding 10px

#explanation
  border 1px solid #ccc
  background-color #fffae3

#players
  position absolute
  bottom 0
  min-height 100px
  width 100%

  p
    text-align left
    font-size 15px
    font-weight bold
    padding 15px 0 5px

  .updated
    background-color yellow
    color black
    -webkit-transform scale(2.0)
    -moz-transform scale(2.0)

  .response
    display inline-block
    float left
    width 20px
    height 20px
    border 2px solid black
    border-left-width 0
    box-shadow(2px 2px 10px #333)

  .response:first-child
    border-top-left-radius 5px
    border-bottom-left-radius 5px
    border-left-width 2px

  .response:last-child
    border-top-right-radius 5px
    border-bottom-right-radius 5px

.correct
  vertical-gradient(#0ecc00, #098600)

.incorrect
  vertical-gradient(#ff0000, #9c0000)

#message
  padding 10px
