#lobby
  h2
    margin 10px 0 20px -20px
    background-color #888
    color white
    box-shadow 2px 2px 4px #333
    font-size 18px
    font-weight bold
    text-shadow 1px 1px 2px #333
    width 400px
    padding 7px 40px
  
  p
    width 450px
    color #666
    margin-bottom 3px
    font-size 13px

  .lobby.button
    display inline-block
    margin-right 10px

  .game
    display inline-block
    padding 10px
    vertical-gradient(#d8d8d8, #dcdcdc)
    border-radius 5px
    box-shadow 1px 1px 5px #333
    margin 0px 20px 10px 0

    .player
      margin 7px 0 0 10px
      float left
      font-size 12px
      font-weight bold
      width 120px

    img
      border 1px solid #aaa
      background-color white
      padding 3px
      float left
      width 40px
      height 40px

  .join-container
    float left
    margin-left 7px

  .join.button
    margin 0
    width 100px
  
  #leaders
    z-index 10
    position fixed
    width 200px
    right 0
    top 0

    h2
      margin-bottom 5px

    .avatar
      margin-right 5px
      width 30px
      height 30px
      position relative
      top 12px

    ol
      list-style-type decimal
      margin-left 15px
      font-size 13px

    li
      margin-bottom 3px
      font-weight bold
      color #555

      span
        color #48e