#lobby
  h2
    margin 10px 0 20px -20px
    background-color #888
    color white
    box-shadow 2px 2px 4px #333
    font-size 22px
    font-weight bold
    text-shadow 1px 1px 2px #333
    width 500px
    padding 15px 40px
  
  p
    width 450px
    color #666
    margin-bottom 10px

  .lobby.button
    display inline-block
    margin-right 10px

  #games
    width 575px

  .game
    display inline-block
    padding 10px
    vertical-gradient(#d8d8d8, #dcdcdc)
    border-radius 5px
    box-shadow 1px 1px 5px #333
    margin 0px 20px 10px 0

    .player
      margin 7px 0 0 10px
      float left
      font-size 13px
      font-weight bold
      width 145px

    img
      border 1px solid #aaa
      background-color white
      padding 5px
      float left

  .join-container
    float left
    margin 0 0 0 15px

  .join.button
    margin 0
    width 130px