!!! 5
html(lang="en")
  head
    // IMPORTANT: put JS files before SocketStream, or maybe figure out asset management.
    script(type="text/javascript", src="https://d3eoax9i5htok0.cloudfront.net/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML")
    != SocketStream


    title Ladder
  body
    #content

  #fb-root
  script(src="http://connect.facebook.net/en_US/all.js")
  script
    FB.init({
      appId  : '206905646042566',
      status : true, // check login status
      cookie : true, // enable cookies to allow the server to access the session
      xfbml  : true, // parse XFBML
      oauth  : true // enable OAuth 2.0
    });