#lobby
  h2 Lobby
  a(href="/#/solo") Solo
  br
  a(href="/#/multi/new") Create Challenge
  br
  a(href="/#/multi/join") Auto Join
  // And then list Open games
  // Maybe even list In-Progress games you can't join
  // Leaderboard/rank